################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/ShareTarget/.vs
/ShareTarget/obj
/ShareTarget/bin
/ShareTarget/Release
*.user