################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/*/.vs
/*/obj
/*/bin
/*/Release
*.user
.DS_Store
