################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/ShareTarget/.vs/ShareTarget/v16/Server/sqlite3
/ShareTarget/obj
